.spectra-global-block-style-name-modal {

	.components-modal__header {

		button {
			color: #a4afb7;

			svg {
				width: 25px;
				height: 25px;
			}
		}
	}

	.button-input-wrap {
		display: flex;
		align-items: flex-end;

		button {
			padding: 10px 30px;
			border: none;
			box-shadow: 0 0 5pt 0.5pt #d3d3d3d9;
			background: #007CBA;
			color: #fff;
			font-weight: 500;
			height: 36px;

			p {
				margin: 0;
			}
		}

		.components-text-control__input {
			padding: 10px 14px;
			width: 450px;
			height: 36px;
			background: #FFFFFF;
			border: 1px solid #E6E7E9;
			box-shadow: 0px 1px 2px #1018280d;
			border-radius: 4px;
		}
	}
}
