.wp-block-uagb-separator__inner {
    -webkit-mask-image: var(--my-background-image);
    -webkit-mask-repeat: repeat-x;
    -webkit-mask-size: 38px 100%;
    
}

.wp-block-uagb-separator-element {
    background-image: none;
}




