.wp-block-uagb-separator {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	line-height: 0;

	&__border {
		display: flex;
	}

	.wp-block-uagb-separator__after {
		border-top-color: #333;
		border-top-style: solid;
		border-top-width: 4px;
	}

	&--text,
	&--icon {
		.wp-block-uagb-separator__after {
			display: flex;
			-webkit-mask: var(--my-background-image);
			-webkit-mask-repeat: repeat-x;
		}
	}

	&--icon {
		.wp-block-uagb-separator-element {
			align-items: center;

			svg {
				font-size: 30px;
				color: #333;
				fill: #333;
				width: 30px;
				height: 30px;
			}
		}
	}
}
