// Custom icon picker
.uag-custom-ip {
	.uag-control-label {
		padding-bottom: 4px;
		display: block;
	}
	.uag-ip-placeholder-wrap {
		width: 256px;
		max-width: 100%;
		min-height: 96px;
		display: flex;
		background-color: #fefefe;
		border: 1px solid #e6e7e9;
		border-radius: 3px;
		position: relative;
		overflow: hidden;
		// On wrapper hover functionality.
		&:hover {
			.uag-ip-actions {
				transform: translate( 0, 0 );
			}
		}
		.uag-ip-remove-icon > svg,
		.uag-ip-selected-icon-overlay > svg {
			fill: #ffffff;
			width: 18px;
			height: 18px;
			background-color: #cccccc;
			padding: 2.4px;
			border-radius: 50%;
		}
		.uag-ip-remove-icon {
			position: absolute;
			right: 5px;
			top: 5px;
			line-height: 0;
			cursor: pointer;
			z-index: 10;
			> svg {
				transition: 0.3s background-color linear;
				&:hover {
					background-color: #959494;
				}
			}
		}
		.uag-ip-selected-icon {
			width: 100%;
			display: flex;
			cursor: pointer;
		}
		.uag-ip-selected-icon-overlay {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
		}
		.uag-ip-selected-icon-value {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			> svg {
				height: 30px;
				width: 30px;
				fill: #50575e;
			}
		}

		.uag-ip-actions {
			position: absolute;
			bottom: 0;
			width: 100%;
			display: flex;
			z-index: 2;
			transform: translate( 0, 24px );
			transition: 0.2s all ease-in-out;
			> span {
				background-color: #f0f0f1;
				flex: 1;
				font-size: 13px;
				font-weight: 400;
				text-align: center;
				line-height: 24px;
				color: #50575e;
				cursor: pointer;
			}
		}
	}
}
.components-modal__frame.uagb-ip-modal-wrapper {
	width: 766px;
	height: 566px;
	.components-modal__content {
		padding: 0;
		margin-top: 60px;
		background-color: #f6f7f7;
		.components-modal__header {
			height: 60px;
			padding: 0 18px;
		}
	}
	// Header.
	.components-modal__header {
		.components-modal__header-heading {
			font-size: 16px;
		}
	}
	.uagb-ip-modal-container {
		height: 100%;
		padding: 30px 18px;
	}
	// Search bar.
	.uagb-ip-search-container {
		margin-bottom: 30px;
		display: flex;
		grid-gap: 16px;
		.uagb-ip-search-bar {
			width: 72%;
			input {
				height: 30px;
				width: 100%;
				padding: 7px 12px;
				border: 1px solid #e6e7e9;
				margin: 0;
			}
		}
		.uagb-ip-search-pagination {
			display: flex;
			align-items: center;
			grid-gap: 30px;
			.uagb-ip-pagination-input{
				display: flex;
				align-items: center;
				grid-gap: 4px;
			}
			input {
				width: 60px;
				line-height: 1;
				height: 30px;
				padding: 7px 12px;
				border: 1px solid #e6e7e9;
				margin: 0;
			}
			.uagb-ip-pagination-np {
				display: flex;
				grid-gap: 10px;
				span {
					cursor: pointer;  
					line-height: 1;
					svg{
						height: 25px;
						width: 25px;
						background-color: #dfdfdf;
						padding: 5px;
						fill: #505050;
					}
				}
			}
		}
	}
	// Icons container
	.uagb-ip-icons {
		height: calc( 100% - 60px );
		&.icon-not-found {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		> div {
			display: flex;
			flex-wrap: wrap;
			grid-gap: 10px;
		}
		.uagb-icon-item {
			width: 56px;
			height: 56px;
			background-color: #ffffff;
			border: 1px solid #e6e7e9;
			border-radius: 3px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.2s transform ease;
			&.selected{
				background-color: #dedede;
			}
			> svg {
				width: 19px;
				height: 19px;
			}
			&:hover {
				transform: scale( 1.1 );
			}
		}
	}
}
