.uagb-block-price-card-container {
	display: flex;
	gap: 10px;

	.uagb-block-price-card-title {
		margin: 0;
		padding: 0;
	}

	.uagb-block-price-card-desc {
		margin: 0;
		padding: 0;
	}

	.uagb-block-price-card-title__price {
		display: flex;
		gap: 20px;
	}

	.uagb-block-price-card-price {
		line-height: 4px;
		color: #333;
	}
}
